html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; //eltünteti az oldal görgőket
}

body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* .container {
  display: block;
  position: top;
  padding-left: 1px;
  margin-bottom: 1px;
  cursor: pointer;
  font-size: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.checkmark {
  position:top;
  top:15%;
  left: 15%;
  height: 30px;
  width: 30px;
  background-color: 0,0,0 ;
} */
